trunk/GpsEmulator/FinalAccessDeviceLab/AccessingWP7Devices/SampleData/NotificationBoxDesignData/NotificationBoxDesignData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.NotificationBoxDesignData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.NotificationBoxDesignData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotificationBoxDesignData" type="tns:NotificationBoxDesignData" />
  <xs:complexType name="NotificationBoxDesignData">
    <xs:sequence>
      <xs:element name="Buttons" type="tns:Buttons" />
    </xs:sequence>
    <xs:attribute name="ShowAgain" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="3,8" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="25,8" name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Buttons">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ButtonsItem" type="tns:ButtonsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ButtonsItem">
    <xs:attribute name="Content" type="xs:string" />
  </xs:complexType>
</xs:schema>