trunk/GpsEmulator/FinalAccessDeviceLab/AccessingWP7Devices/SampleData/CameraCaptureViewDesignData/CameraCaptureViewDesignData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.CameraCaptureViewDesignData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.CameraCaptureViewDesignData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CameraCaptureViewDesignData" type="tns:CameraCaptureViewDesignData" />
  <xs:complexType name="CameraCaptureViewDesignData">
    <xs:attribute blend:FormatParameters="SampleData\Images" name="Source" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2,8" name="Position" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:FormatParameters="50,8" name="Note" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateTaken" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>