GpsEmulator/FinalAccessDeviceLab/AccessingWP7Devices/SampleData/MapViewDesignData/MapViewDesignData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.MapViewDesignData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.MapViewDesignData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MapViewDesignData" type="tns:MapViewDesignData" />
  <xs:complexType name="MapViewDesignData">
    <xs:sequence>
      <xs:element name="Pictures" type="tns:Pictures" />
      <xs:element name="PreviewPicture" type="tns:PreviewPicture" />
    </xs:sequence>
    <xs:attribute name="InPreviewMode" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Pictures">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PicturesItem" type="tns:PicturesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PicturesItem">
    <xs:attribute name="Source" type="tns:Basic-Image" />
    <xs:attribute name="Note" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,8" name="Position" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="PreviewPicture">
    <xs:attribute name="Source" type="tns:Basic-Image" />
  </xs:complexType>
</xs:schema>