trunk/GpsEmulator/FinalAccessDeviceLab/AccessingWP7Devices/SampleData/PictureListViewDesignData/PictureListViewDesignData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.PictureListViewDesignData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.PictureListViewDesignData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PictureListViewDesignData" type="tns:PictureListViewDesignData" />
  <xs:complexType name="PictureListViewDesignData">
    <xs:sequence>
      <xs:element name="Pictures" type="tns:Pictures" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pictures">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PicturesItem" type="tns:PicturesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PicturesItem">
    <xs:attribute blend:FormatParameters="SampleData\Images" name="Source" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="10,8" name="Note" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateTaken" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>